extends layout

block content
  script(type="text/x-handlebars", data-template-name="application")
    .container-fluid
      h1.title
        i.icon-tasks
        != " Azon"

      {{outlet}}

  script(type="text/x-handlebars", data-template-name="home")
    | <div id='user-box'>
    |   <a href='#' {{action showLoginForm}} class='btn btn-large'>
    |     <i class='icon-signin'></i> Login
    |   </a>
    |   <a href='#' {{action showRegisterForm}} class='btn btn-large'>
    |    <i class='icon-user'></i> Register
    |   </a>
    | </div>

  script(type="text/x-handlebars", data-template-name="buckets")
    {{#if App.router.applicationController.currentUser}}
    #session
      form(action="logout", method="post")
        span.username {{App.router.applicationController.currentUser.username}} | 
        a(href="#", id="logout-link") Logout
        input(type="hidden", name="_method", value="delete")
    {{/if}}
    {{collection App.BucketCollectionView contentBinding="controller"}}

  script(type="text/x-handlebars", data-template-name="bucket")
    include bucket

  script(type="text/x-handlebars", data-template-name="command-box")
    include command_box

  script(type="text/x-handlebars", data-template-name="task")
    include task

  script(type="text/x-handlebars", data-template-name="user-form")
    include user-form

  script(type="text/x-handlebars", data-template-name="login")
    include login
