extends layout

block content
  script(type="text/x-handlebars", data-template-name="application")
    .container-fluid
      {{outlet}}

  script(type="text/x-handlebars", data-template-name="home")
    | <div id='user-box'>
    |  <span>:login / :register</span>
    | </div>

  script(type="text/x-handlebars", data-template-name="buckets")
    {{#if App.router.applicationController.currentUser}}
    #session
      span.username {{App.router.applicationController.currentUser.username}}
    {{/if}}
    {{collection App.BucketCollectionView contentBinding="controller"}}

  script(type="text/x-handlebars", data-template-name="bucket")
    include bucket

  script(type="text/x-handlebars", data-template-name="command-box")
    include command_box

  script(type="text/x-handlebars", data-template-name="task")
    include task

  script(type="text/x-handlebars", data-template-name="user-form")
    include user-form

  script(type="text/x-handlebars", data-template-name="login")
    include login
