doctype 5
html
  head
    title Azon
    != css('application')

  body
    .container-fluid
      h1.title
        i.icon-tasks
        != " Azon"

      block content

    script(type='text/javascript', src='/socket.io/socket.io.js')
    != js('application')
