doctype 5
html
  head
    title Azon
    != css('application')

  body
    .container-fluid
      h1.title
        i.icon-tasks
        != " Azon"

      block content
    
    - if(app_env === 'production')
      script(type='text/javascript')
        console.log = function(){}

    script(type='text/javascript', src='/socket.io/socket.io.js')
    != js('application')
