.control-group
  .controls
    input(type="text", name="username", class="span2", autofocus="true", required="true", placeholder="Username")

.control-group
  .controls
    input(type="password", name="password", class="span2", required="true", placeholder="password")

input(type="submit", style="visibility: hidden")

